<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

 
<center><h2 style="font-size:2em;color:#840700">   Caso de estudio: Ventas </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/ventas.jpg" align="left" style="width:400px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* [https://www.aqr.com/] por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativos en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

## Integrantes

Nombre 1:

Nombre 2:

### Ejercicio

Utilzar los archivos "datos/ventas/*.txt" para contestar las siguientes preguntas. A continuación el código propuesto para obtener el dataframe:

```python
files = glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df=df.dropna(axis='rows',how='any')
df=df[df['Quantity Ordered']!='Quantity Ordered'] 
```

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

<div class="alert alert-success">
    
0. Explicar que hace el código de arriba
    
</div>

<div class="alert alert-success">
    
1. Encuentre el número de productos que se adquirieron en Los Angeles, CA
    
</div>

In [69]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered']!='Quantity Ordered'] 
df.head()
#df['findAll(LA)'] = df['Purchase Address'].str.findall('Los Angeles')
#df['findAll(LA)'] == '[Los Angeles]'
#df[df['findAll(LA)'] == '[Los Angeles]']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [72]:
#df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df[['direccion','ciudad','cp']] = df['Purchase Address'].str.split(pat = ',', expand = True)
df.head()
#df[df['ciudad'] == 'Los Angeles']['Quantity Ordered'].sum()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,direccion,ciudad,cp
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",917 1st St,Dallas,TX 75001
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",682 Chestnut St,Boston,MA 02215
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles,CA 90001
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles,CA 90001
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",333 8th St,Los Angeles,CA 90001

<div class="alert alert-success">
    
2. ¿Cuántos iPhone se vendieron?

    
</div>

In [165]:
#df['Product']
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
iphone = df[df['Product'] == 'iPhone']['Quantity Ordered'].sum()
print('Se vendieron:', iphone)

Se vendieron: 6849

<div class="alert alert-success">
    
3. ¿Cuánto fue su ganancia por venta de baterías? 
    
</div>

In [75]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered']!='Quantity Ordered']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [173]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)
df['TotalPrice'] = df['Quantity Ordered'] * df['Price Each']

df['baterias'] = df['Product'].str.findall('Batteries')
df_batt = df[df['baterias'] == 'Batteries']

ganancia = df_batt['TotalPrice'].sum()
#ganancia
print('La ganancia por baterías fue: $', ganancia )

La ganancia por baterías fue: $ 0.0

<div class="alert alert-success">
    
4. ¿Cuál fue el código postal que más ordenes realizó?

    
</div>

In [97]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered']!='Quantity Ordered'] 
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [114]:
df[['direccion','ciudad','cp']] = df['Purchase Address'].str.split(pat = ',', expand = True)
df[['Estado','cp']] = df['cp'].str.split(expand=True)
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
cp_max = df.groupby('cp')['Quantity Ordered'].sum().max()
#df[df['cp'] == cp_max]
#df['cp']
print('El cp con más ordenes fue:', cp_max)

El cp con más ordenes fue: 50239

<div class="alert alert-success">
    
5.  a) ¿Cuál fue el producto con más ganancias?
    
    b) ¿Cuál fue el producto con más unidades vendidas?

    
</div>

In [115]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered']!='Quantity Ordered'] 
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [132]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)
df['TotalPrice'] = df['Quantity Ordered'] * df['Price Each']
producto_max=df.groupby('Product')['TotalPrice'].sum().idxmax()
precio = df.groupby('Product')['TotalPrice'].sum().max()
print('El producto con más ganancias fue:', producto_max ,'$', precio  )

El producto con más ganancias fue: Macbook Pro Laptop $ 8037600.0

In [133]:
producto_vendido = df.groupby('Product')['Quantity Ordered'].sum().idxmax()
unidades = df.groupby('Product')['Quantity Ordered'].sum().max()
print('El producto más vendido fue:', producto_vendido,'con', unidades, 'unidades')

El producto más vendido fue: AAA Batteries (4-pack) con 31017 unidades

<div class="alert alert-success">
    
6. ¿Cuales son los 5 productos más vendidos?     
</div>

In [134]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered']!='Quantity Ordered'] 
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [161]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)


df_vendidos = df.groupby('Product')['Quantity Ordered'].sum().sort_values(ascending=False).index.tolist()
#df_vendidos[:5]
print('Los producto más vendidos son:', df_vendidos[:5])

Los producto más vendidos son: ['AAA Batteries (4-pack)', 'AA Batteries (4-pack)', 'USB-C Charging Cable', 'Lightning Charging Cable', 'Wired Headphones']

<div class="alert alert-success">
    
7.  ¿Cuales son los 5 productos con las ganancias más altas?

    
</div>

In [155]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered']!='Quantity Ordered'] 
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [159]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
df['Price Each'] = df['Price Each'].astype(float)
df['TotalPrice'] = df['Quantity Ordered'] * df['Price Each']

df_precio = df.groupby('Product')['TotalPrice'].sum().sort_values(ascending=False).index.tolist()
#df_precio[:5]
print('Los productos con más ganacia son:', df_precio[:5])

Los productos con más ganacia son: ['Macbook Pro Laptop', 'iPhone', 'ThinkPad Laptop', 'Google Phone', '27in 4K Gaming Monitor']

<div class="alert alert-success">
    
8. ¿A qué hora recomendaría mostrar anuncios para maximizar la probabilidad de que el cliente compre un producto?     
</div>

<div class="alert alert-success">
    
 9. 
    a) ¿Cuál es el día de más ganancias por cada mes?  
    b) ¿Cuál es el mes con más ganancias y el de menos ganancias?
    
</div>

<div class="alert alert-success">
    
10. ¿Cuál fue el producto más comprado en San Francisco, CA
    
</div>

In [162]:
files = glob.glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df = df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered']!='Quantity Ordered'] 
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [167]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)

df[['direccion','ciudad','cp']] = df['Purchase Address'].str.split(pat = ',', expand = True)
df_sf = df [df['ciudad'] == 'San Francisco']
df_sf.groupby('Product')['Quantity Ordered'].sum().max()

nan

<div class="alert alert-success">
    
11. Escribir una conclusión del ejercicio (ventajas de usar pandas, herramientas mas utilizadas en este ejercicio, etc). 
    
</div>